/* font */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* general */
* {
    font-family: 'Tilt Neon', cursive;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a7a1d8;
}

/* test start section */
#test-start {
    width: 35vw;
    min-height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background: linear-gradient(to right, #d1cfdd, #a7a1d8);

}

#test-start h1 {
    color: #6756BE;
    font-size: 35px;
    height: 5px;
    display: flex;
    align-items: center;
}

#test-start input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #6756BE;
    padding: 0 0 10px 0;
    font-size: 17px;

}

/* sets the display of the arrows to none */
#test-start input::-webkit-outer-spin-button,
#test-start input::-webkit-inner-spin-button {
    display: none;
}

#test-start input::placeholder {
    color: black;
}

#test-start button {
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 35%;
    padding: 5px;
    transition: 0.2s;
    overflow: hidden;
    background-color: #9e9ea2;
    font-size: 17px;
    transition: 0.1s;
}

#test-start button::after {
    content: "";
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    transition: 0.1s linear;
    width: 100%;
    height: 100%;
    background-color: #8464ec81;
    border-radius: inherit;
    transform: translateX(-105%);
    transition: 0.3s linear;
}

#test-start button:hover::after {
    transform: translateX(0);

}

#test-start button:active {
    transform: scale(0.9);
}


/* test question section */
#main-test-box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    min-width: 60vw;
    min-height: 750px;
    border-radius: 20px;
    background: linear-gradient(to right, #d1cfdd, #a7a1d8);

}

#main-test-box>img {
    width: fit-content;
    border: 1px solid;
    border-radius: 20px;
}

#answers {
    padding: 20px 10px;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    gap: 0 20px;


}

#answers img {
    position: relative;
    cursor: pointer;
    border: 1px solid;
    min-width: 100px;
    transition: 0.1s;
    border-radius: 10px;
    transition: 0.2s;
}


#answers img:hover {
    background: #8464eca6;
    transform: translateY(-10px);
}

#answers img:active {
    transform: scale(0.8);
}



/* game status */

#game-status {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 20px;
}

/* result */

#result {
    position: relative;
    width: 50vw;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #d1cfdd, #a7a1d8);
    border-radius: 20px;

}

@media screen and (min-width:1200px) {
    #result {
        width: 40vw;
    }

}

#result>p {
    color: #ad1457;
    font-size: 20px;
    margin: 15px 0;
}




#result>p:first-of-type {
    padding: 50px 0 0 0;
}

#wasted-time-var,
#score-var,
#user-name-var {
    color: #000080;
}

#restart-button {
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 30%;
    padding: 7px 5px;
    overflow: hidden;
    background-color: #6756BE;
    font-size: 17px;
    transition: 0.1s;
    bottom: 15%;
}

#restart-button::after {
    content: "";
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    transition: 0.1s linear;
    width: 100%;
    height: 100%;
    background-color: #8464ec81;
    border-radius: inherit;
    transform: translateX(-105%);
    transition: 0.3s linear;
}

#restart-button:hover::after {
    transform: translateX(0);

}

#restart-button:active {
    transform: scale(0.9);
}

/* loader container */

#loader-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-container span {
    background: linear-gradient(to right, #000080, #ad1457, #fff);
    position: absolute;
    top: 200%;
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#loader-container .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #000080;
    animation: animate 2s linear infinite;
    animation-delay: -1%;
}

#loader-container .ring::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    background-color: #000080;
    box-shadow: 0 0 0 5px #00008033,
        0 0 0 10px #00008022,
        0 0 0 20px #00008011,
        0 0 0 30px #00008000;
}

#loader-container .ring:nth-child(2) {
    animation: animate2 2s linear infinite;
    border-left: 4px solid #c2185D;
    border-top: 4px solid transparent;

}

#loader-container .ring:nth-child(2)::before {
    top: initial;
    left: 12px;
    bottom: 12px;
    background-color: #c2185D;
    box-shadow: 0 0 0 5px #c2185D33,
        0 0 0 10px #c2185D22,
        0 0 0 20px #c2185D11,
        0 0 0 30px #c2185D00;
}

#loader-container .ring:nth-child(3) {
    position: absolute;
    top: -66.66px;
    animation: animate2 2s linear infinite;
    animation-delay: -3%;
    border-top: 4px solid transparent;
    border-left: 4px solid #fff;

}

#loader-container .ring:nth-child(3)::before {
    top: initial;
    left: 12px;
    bottom: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 0 5px #ffffff33,
        0 0 0 10px #ffffff22,
        0 0 0 20px #ffffff11,
        0 0 0 30px #ffffff00;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}